{% extends 'base.html' %}
{% block con %}


    <h1><b>TRANSLATOR</b></h1>


    <form>
        <div class="row mt-5">
            <div class="col-sm-5">
                <textarea class="form-control" name="bf" style="height: 300px;" placeholder="번역전 텍스트를 입력해주세요">{{ bf }}</textarea>
            </div>
            <div class="col-sm-2" style="margin: auto;">
                <select class="form-select" name="fr">
                    {% for code, name in ndict.items %}
                        <option value="{{code}}" {% if fr %} {% if fr == code %} selected {% endif %} {% else %} {% if code == 'ko'%} selected {% endif %} {% endif %}>{{name|upper}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-dark mt-4 mb-3" style="width: 100%;">번역</button>
                <a href="{% url 'trans:index' %}?bf={{af}}&to={{fr}}&fr={{to}}" class="btn btn-dark mb-4" style="width: 100%;">체인지</a>
                <select class="form-select" name="to">
                    {% for code, name in ndict.items %}
                        <option value="{{code}}" {% if to %} {% if to == code %} selected {% endif %} {% else %} {% if code == 'en'%} selected {% endif %} {% endif %}>{{name|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <textarea class="form-control" disabled style="height: 300px;">{{ af }}</textarea>
            </div>
        </div>
    </form>

    {% if af %}
    <form method="post" action="{% url 'tts:index' %}">
        {% csrf_token %}
        <div class="mt-5">
            <input type="hidden" name="con" value="{{ af }}">
            <input type="hidden" name="ncode" value="{{ to }}">
            <button class="btn btn-dark" style="width:100%;">TTS 변환</button>
        </div>
    </form>
    {% endif %}
{% endblock %}